*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
    font-family: 'Comfortaa', cursive;
}
.navbar{
	display:flex;
	align-items: center;
	padding:20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display:inline-block;
	list-style-type: none;

}
nav ul li{
	display: inline-block;
	margin-right: 20px;

}
a{
	text-decoration: none;
	color: orange;
	
}
p{
	color: orange;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-right: 25px;
	padding-left: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.header{
	background:radial-gradient(#fff,#ffd6d6);
}
.header .row{
	margin-top: 70px;
}
.container2{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after{
	content:'';
	background:#ff523b;
	width: 120px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left:45%;
	transform: translateX(-5);
	}
