*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
    font-family: 'Comfortaa', cursive;
}
.navbar{
	display:flex;
	align-items: center;
	padding:20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display:inline-block;
	list-style-type: none;

}
nav ul li{
	display: inline-block;
	margin-right: 20px;

}
a{
	text-decoration: none;
	color: orange;

}
.header{
	background:radial-gradient(#fff,#ffd6d6);
}

.header .row{
	margin-top: 70px;
} 

.container2{
	 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('images/bgsign.jpg');
	 height: 100vh;
    background-size:cover;
    background-position:center;
    padding-top: 20px;
}
.sign-up-form{
	width:300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background:#fff;
	padding:20px;
	margin: 1% auto 0;
	text-align: center;
}
.sign-up-form h1{
	color: orange;
	margin-bottom: 30px;
}
.input-box{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width:100%;
	border: 1px solid #999;
	outline: none;
}
button{
	color: #fff;
	width: 50%;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border:none;
}
.sign-btn{
	background-color: orange;
}
hr{
	margin-top: 20px;
	width: 80%;

}
.or{
	background:#fff;
	width: 30px;
	margin: -12px auto 10px;
}
input[type=button]
{
border: none;
width: 190px;
background: white;
color: #000;
font-size: 16px;
line-height: 25px;
padding: 10px 0px;
border-radius: 15px;
cursor: pointer;


}
input[type=button]:hover
{
	color: #fff;
	background-color: black;

}