*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{
    font-family: 'Comfortaa', cursive;
}
.navbar{
	display:flex;
	align-items: center;
	padding:20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display:inline-block;
	list-style-type: none;

}
nav ul li{
	display: inline-block;
	margin-right: 20px;

}
a{
	text-decoration: none;
	color: orange;

}
.header{
	background:radial-gradient(#fff,#ffd6d6);
}
.container2{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4{
	flex-basis: 25%;
	padding:10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);

}
.col-4 img{
     width: 100%;
}
.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after{
	content:'';
	background:#ff523b;
	width: 120px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left:45%;
	transform: translateX(-5);

}
h4{
	color:#555;
	font-weight: normal;

}
.col-4 p{
	font-size: 14px;
}
.col-4:hover{
	transform: translateY(-5px);
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}



