<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-comodor</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <ul>
            <li class="navbar-component">
              <a href="/">Home</a>
            </li>
            <li class="navbar-component">
              <a href="/cart">Cart</a>
            </li>
         </ul>
    </nav>
{{{body}}}
<script src="/js/main.js"></script>
</body>
</html>