<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/secondary.css">
    <title>E-comodor</title>
</head>
<body>
    <nav>
        <ul>
            <li class="navbar-component">
               <a href="/">Home</a>
            </li>
            <li class="navbar-component">
               <a href="/checkout">checkout</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
 <script src="/js/secondary.js"></script>
</body>
</html>