<div id="main-body">
    <div class="orderdetails-section">

    </div>
    <div id="address-section">
       <form id="update-order">
           <div class="form-group">
              <input type="text" name="name" id="name">
           </div>
           <div class="form-group">
              <textarea name="address" id="address" cols="30" placeholder="Order Address" rows="10"></textarea>
           </div>
           <div class="form-group">
               <button class="btn-primary">Place Order</button>
           </div>
       </form>
    </div>
</div>